---
import cover1 from "../assets/cover-1.jpg";
import cover2 from "../assets/cover-2.jpg";
import cover3 from "../assets/cover-3.jpg";

const cards = [
  {
    title: "kpop",
    desc: "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.",
    img: cover1,
  },
  {
    title: "pop",
    desc: "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.",
    img: cover2,
  },
  {
    title: "hip-hop",
    desc: "lorem ipsum dolor sit amet, consectetur.",
    img: cover3,
  },
  {
    title: "pop",
    desc: "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.",
    img: cover2,
  },
  {
    title: "hip-hop",
    desc: "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    img: cover3,
  },
  {
    title: "kpop",
    desc: "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.",
    img: cover1,
  },
];
---

<div
  class="grid mt-14 gap-x-14 gap-y-14 w-3/5 sm:w-3/4 sm:grid-cols-2 sm:hidden"
>
  {
    cards
      .filter((_card, index) => index < 3)
      .map((card) => (
        <div class="flex flex-col bg-transparent justify-center hover:scale-105 duration-[250ms]">
          <img
            class="rounded-xl shadow-lg shadow-primary/10"
            src={card.img}
            alt=""
          />
          <h1 class="text-lg uppercase text-zinc-900  font-semibold mt-4">{card.title}</h1>
          <p class="text-xs text-zinc-700 mt-1">{card.desc}</p>
        </div>
      ))
  }
</div>

<div
  class="hidden sm:grid mt-20 gap-x-14 gap-y-14 w-3/5 place-items-start sm:w-3/4 sm:grid-cols-2 md:w-3/4 md:grid-cols-3 md:gap-x-20"
>
  {
    cards.map((card, i) => (
      <div class="flex flex-col bg-transparent justify-center hover:scale-105 duration-[250ms]">
        <img
          class="rounded-xl shadow-lg shadow-primary/10"
          src={card.img}
          alt=""
        />
        <h1 class="text-lg uppercase text-zinc-900 font-semibold mt-4">{card.title}</h1>
        <p class="text-xs text-zinc-700 mt-1">{card.desc}</p>
      </div>
    ))
  }
</div>
